<!-- start custom footer snippets -->
<table rules="groups">
  <tbody>
    <tr>
      <th style="text-align: center"><a href="/about">About This Guide</a></th>
    </tr>
    <tr>
      <th style="text-align: center"><a href="/to_shop_owners">To Shop Owners (in Japanese)</a></th>
    </tr>
    <tr>
      <th style="text-align: center"><a href="/terms">Terms of Service</a></th>
    </tr>
    <tr>
      <th style="text-align: center"><a href="/privacy_policy">Privacy Policy</a></th>
    </tr>
  </tbody>
</table>
<!-- end custom footer snippets -->
